body{
    background-color: #F9F7FF;
    font-family: "Roboto", sans-serif;
}
a{
    color: #885DF1;
}
header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}
.weather-app{
    background-color: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px #41326414;
    padding: 30px;
    border-radius: 16px;
}
.search-form-input{
    background-color: #F9F7FF;
    border: none;
    border-radius: 8px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}
.search-form-button{
    background:#885DF1;
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    margin-left: 5px;
    color: white;
    font-size: 16px;
}
main{
    padding: 30px;
}
.weather-app-data{
    display: flex;
justify-content: space-between;
}
footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}