body{
    background-color: #F9F7FF;
    font-family: "Roboto", sans-serif;
}
.weather-app{
    background-color: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px #41326414;
    padding: 30px;
    border-radius: 16px;
}
